<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Drug Indication Prediction</title>
        <link rel="stylesheet" href="../static/styles/style.css">
    </head>
    <body>
     <center>

        <h1 style="font-size:40px; color:rgb(250, 249, 232);">Drug Indication prediction</h1>
        <h4 style="font-size:20px;margin-left: 20px; color:rgb(250, 249, 232);">This web application is made to predict Drugs with the following parameters given</h4>
        <p style="font-size:20px;color:rgb(250, 249, 232);">Fill the form and get your results</p>

        <form method='POST', action="{{url_for('prediction')}}">

         <label style="font-size:large;background-color:rgb(250, 249, 232); padding:3px 8px; margin: 10px 3px 17px 3px;">src_nm:</label>
            <input type="number", style="padding:5px 17px; font-size:13px;" name='src_nm', placeholder="enter the value"><br><br>

            <label style="font-size:large;background-color:rgb(250, 249, 232); padding:3px 10px; margin: 10px 4px 17px 4px;">src_id:</label>
            <input type="number", style="padding:5px 17px; font-size:13px;" name='src_id', placeholder="enter the value"><br><br>

            <label style="font-size:large;background-color:rgb(250, 249, 232); padding:3px 8px; margin: 10px 4px 17px 4px;">cas_cas_no:</label>
            <input type="number", style="padding:5px 17px; font-size:13px;" name='cas_cas_no', placeholder="enter the value"><br><br>

            <label style="font-size:large;background-color:rgb(250, 249, 232); padding:3px 8px; margin: 10px 12px 17px 4px;">cas_pt:</label>
            <input type="number", style="padding:5px 17px; font-size:13px;" name='cas_pt', placeholder="enter the value"><br><br>







            <label style="font-size:large;background-color:rgb(250, 249, 232); padding:3px 8px; margin: 10px 12px 17px 4px;">cas_source:</label>
            <input type="number", style="padding:5px 17px; font-size:13px;" name='cas_source', placeholder="enter the value"><br><br>

            <label style="font-size:large;background-color:rgb(250, 249, 232); padding:3px 8px; margin: 10px 12px 17px 4px;">cas_match:</label>
            <input type="number", style="padding:5px 17px; font-size:13px;" name='cas_match', placeholder="enter the value"><br><br>

            <label style="font-size:large;background-color:rgb(250, 249, 232); padding:3px 8px; margin: 10px 12px 17px 4px;">umls_pt:</label>
            <input type="number", style="padding:5px 17px; font-size:13px;" name='umls_pt', placeholder="enter the value"><br><br>

            <label style="font-size:large;background-color:rgb(250, 249, 232); padding:3px 8px; margin: 10px 12px 17px 4px;">umls_cui:</label>
            <input type="number", style="padding:5px 17px; font-size:13px;" name='umls_cui', placeholder="enter the value"><br><br>

            <label style="font-size:large;background-color:rgb(250, 249, 232); padding:3px 8px; margin: 10px 12px 17px 4px;">ind_raw_value:</label>
            <input type="number", style="padding:5px 17px; font-size:13px;" name='ind_raw_value', placeholder="enter the value"><br><br>

            <label style="font-size:large;background-color:rgb(250, 249, 232); padding:3px 8px; margin: 10px 12px 17px 4px;">ind_raw_target:</label>
            <input type="number", style="padding:5px 17px; font-size:13px;" name='ind_raw_target', placeholder="enter the value"><br><br>

            <label style="font-size:large;background-color:rgb(250, 249, 232); padding:3px 8px; margin: 10px 12px 17px 4px;">ind_raw_match:</label>
            <input type="number", style="padding:5px 17px; font-size:13px;" name='ind_raw_match', placeholder="enter the value"><br><br>

            <label style="font-size:large;background-color:rgb(250, 249, 232); padding:3px 8px; margin: 10px 12px 17px 4px;">ind_umls_entry_term_match:</label>
            <input type="number", style="padding:5px 17px; font-size:13px;" name='ind_umls_entry_term_match', placeholder="enter the value"><br><br>


            <input type="submit" , style="background-color:rgb(250, 249, 232);padding:5px 12px; font-size: 15px;" value='Predict Drugs Name'> <br><br>
            <input type="reset", style="background-color:rgb(250, 249, 232);padding:5px 12px; font-size: 15px;" value='Reset value'> <br><br>

 </form>
 <h1 style="font-size:40px; color:rgb(250, 249, 232);">Created by Puru Sharma</h1>
        </center>
    </body>
</html>